{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>We provide the Best Instant Service with the delivery right to your door <br>We value our customer and they are really important ot us as a Company<br>Qe also do offer Take aways and free offer days on every month<br>We provide instant services right at your doorstep and or offer pickupservices .<br>Feel free to stop by at our shop</p>
 
    </div>
</div>
{% endblock content %}
        